<h1>Kittens</h1>
<p>Find all kittens here</p>
<ul>
  <% @kittens.each do |kitten|%>
  <li>
  <p><%= kitten.id %></p>
    <%= link_to kitten.name, kitten %>
    <%=kitten.name%>
    <%=link_to "Delete", kitten_path(kitten), method: :delete%>
  </li>
  <%end%>
</ul>

<p>Create new kitten</p>
<%= button_to "New", new_kitten_path, method: :get %>
