<p></p>
<p></p>
<p></p>
<%= form_with model: @kitten do |form| %>
<%= form.text_field :title%>
<%= form.label :title, "Title"%>
<%= form.text_field :age%>
<%= form.label :title, "Age"%>
<%= form.submit  "Create"%>
<% end %>